@import constants
@import basics

\:host
  --lumo-contrast-10pct: rgba(0,0,0,0)
  --lumo-contrast-60pct: var(--col-accent-bg-1)
  --lumo-text-field-size: 1em
  --lumo-font-size: var(--font-size-standard)
  --lumo-font-family: var(--standard-text-font)

input
   font-size: $font-size-standard
.ui-layout
  background-color: $col-bg-1
.ui-column-layout
  @extend .ui-layout
  display: grid
  grid-template-columns: repeat(auto-fill, 200px)
.ui-stack-layout
  @extend .ui-layout
  display: flex
  flex-direction: column
.ui-right-align-layout
  @extend .ui-layout
  display: flex
  flex-direction: row
  justify-content: end
.ui-line
  width: 100%
  height: 1px
  margin-top: 1em
  margin-bottom: 1em
  border-top: solid 1px $col-accent-bg-1
.element-wrapper
  padding: 5px
  //grid-column-start: 1
.element-wrapper.new-line
  grid-column-start: 1
.templateLabel
  height: 30px
  line-height: 30px
  vertical-align: middle

.light-background
  background-color: $col-bg-1-lighter

.text-field-div
  display: flex
  font-family: $standard-text
  font-size: $font-size-standard
  flex-direction: column
  margin-left: .5em
  margin-bottom: .5em
.combobox-div
  @extend .text-field-div
  margin-bottom: 0em
vaadin-date-picker
  padding: 0px
vaadin-date-picker, vaadin-time-picker, vaadin-combo-box
  margin-left: calc(-1 * (0.375em + var(--lumo-border-radius-m) / 4 - 1px))
  margin-right: calc(-1 * (0.375em + var(--lumo-border-radius-m) / 4 - 1px))
  padding-top: 0px
vaadin-date-picker > input, vaadin-time-picker > input, vaadin-combo-box > input
  --_lumo-text-field-overflow-mask-image: white
  --lumo-text-field-size: 22px
  background-color: white
  max-height: 30px


